.sidebarChat {
  display: flex;
  border: 1px solid pink;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  padding: 20px;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat_info h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat_info {
  margin-left: 15px;
  border: 1px solid black;
}
